body { 
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center center;
    background-image: url("sara/images/Desktop\ -\ 2.png");
    overflow: scroll;
}

html {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center center;
}

#button {
    margin: auto 500px;
    margin-top: 400px;
    width: 300px;
    height: auto;
}

#d3 {
    position: absolute;
    right: 65px;
    bottom: 30px;
    display: none;
}

#d4 {
    position: absolute;
    bottom: 30px;
    display: none;
}

#d5 {
    position: absolute;
    right: 60px;
    display: none;
}