

.dragme {
  position: absolute;
  left: 0;
  top: 0;
  /* set these so Chrome doesn't return 'auto' from getComputedStyle */
  width: 200px;
  background: transparent;
  border-radius: 4px;
  padding: 8px;
}

.second {
  left: 0px;
  top: 120px;
}

.third {
  left: 50px;
  top: 120px;
}

.fourth{
  left: 0px;
  top: 200px;
}

.fifth {
  left: 50px;
  top: 0px;
}

body {
  height: 750px;
  width: 1100px;
  left: 300px;
  border:2px solid #4AAE9B;
  position: relative;
  
  background-image: url("images/bg.png");
  background-size: 65%;
  background-repeat: no-repeat; 
  background-position: center center;
}

.garbage{
  position: relative;
  left: 200px;
  top: 400px;
  height: 15%;
  width: 15%;
}
.compost {
  position: relative;
  left: 200px;
  top: 200px;
  height: 15%;
  width: 15%;

}
.recycling {
  position: relative;
  left: 400px;
  top: 200px;
  height: 20%;
  width: 20%;
}

.compost {
  position: relative;
  left: 400px;
  top: 400px;
  height: 15%;
  width: 15%;
}
