

body {
  height: 750px;
  width: 1100px;
  left: 300px;
  position: relative;
  
  background-image: url("images/bg.png");
  background-size: 65%;
  background-repeat: no-repeat; 
  background-position: center center;
}

.garbage{
  position: relative;
  left: 190px;
  top: 550px;
  height: 15%;
  width: 15%;
}
.compost {
  position: relative;
  left: 20px;
  top: 300px;
  height: 15%;
  width: 15%;

}
.recycle {
  position: relative;
  left: 380px;
  top: 290px;
  height: 15%;
  width: 15%;
}

.ewaste {
  position: relative;
  left: 210px;
  top: 545px;
  height: 15%;
  width: 15%;
}



.dragme {
  position: absolute;
  /* set these so Chrome doesn't return 'auto' from getComputedStyle */
  background: transparent;
 
}

.first {
  left: 500px;
  top: 400px;
}

.second {
  left: 520px;
  top: 430px;
  
}

.third {
  left: 450px;
  top: 400px;
}

.fourth{
  left: 460px;
  top: 360px;
}

.fifth {
  left: 540px;
  top: 370px;
}

.transparent{
  position: relative;
  left: 300px;
  right: 300px;
  top: 120px;
}

@font-face {
  font-family: myFont;
  src: url("Winkle-Regular.ttf");
}

#score {
  font-family: myFont;
  font-size: 100px;
  position: absolute;
  left: 20px;
  top: 680px;
}